.dashboard-container {
  padding: 20px;
}

.dashboard-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.dashboard-controls-inventory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.5rem;
  text-align: left;
}

.dashboard-controls {
  display: flex;
  gap: 10px;
}

.dashboard-button {
  padding: 5px 10px;
  background-color: transparent;
  color: black;
  border: 2px solid #604d16;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.8rem;
}

.dashboard-section {
  margin-bottom: 30px;
}

.dashboard-item-list {
  list-style: none;
  padding: 0;
}

.dashboard-item {
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-weight: bold;
}

.item-expiration {
  color: gray;
  font-style: italic;
}