.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF9F1;
  }
  
  .login-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 2em;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5em;
  }
  
  .login-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1.5em;
  }
  
  .form-group {
    margin-bottom: 1.5em;
    text-align: left;
  }
  
  .form-label {
    font-weight: 500;
    margin-bottom: 0.5em;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 0.75em;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  .login-button {
    width: 100%;
    padding: 0.75em;
    background-color: #6b8f71;
    color: #fff4ae;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #726533;
  }  

  .forgot-password-button {
    margin-top: 1em;
    background: none;
    border: none;
    color: #007BFF;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
  }
  
  .forgot-password-button:hover {
    text-decoration: underline;
    color: #0056b3;
  }