.expenses-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
  letter-spacing: 1.5px;
  color: #333;
}

.summary-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.utility-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
  justify-content: center;
  align-items: flex-start;
  min-height: 300px;
}

.no-utilities-message {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #ff8482;
  margin: auto;
}